body {
    padding-top: 54px;
}

.word {
    padding: 25px 0;
    border-bottom: 1px solid #E0E0E0;
}

nav .word-count {
    position: absolute;
    right: 30px;
    font-weight: bold;
    color: #fff;
    font-size: 1.1em;
}

.quizz-container {
    padding-top: 40px;
}

.quizz-container .col {
    padding-top: 10px;
    padding-bottom: 10px;
}

.quizz-container button {
    cursor: pointer;
    white-space: normal;
    height: 100%;
}

.top-bar {
    height: 2px;
    width: 0;
    background-color: #0275d8;
}